<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Browse()" *ngIf="this.browselist==1">
        <ion-icon name="list-outline"></ion-icon>&nbsp;Browse
      </ion-button>
      <ion-button (click)="show_topics()" *ngIf="this.browselist==0">
        <ion-icon name="grid-outline"></ion-icon>&nbsp;Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar> </ion-header
><ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <br /><ion-searchbar
      [(ngModel)]="filterTerm"
      (ionInput)="filter($any($event.target).value)"
      (ionCancel)="cancel()"
      placeholder="Search Over 60 Health Topics"
    ></ion-searchbar>
    <ion-list>
      <ion-item
        *ngFor="let regular of filterData;let i = index"
        button="true"
        (click)="showDetail(regular)"
      >
        <ion-label>{{regular.name}}</ion-label>
      </ion-item>
    </ion-list>
    <br />
    <br />
    <br />
    <br />
    <div class="fab-class" *ngIf="filterData.length==0||filterData.length==63">
      <ion-grid>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col
            ><ion-fab-button
              class="text-padding-bottom"
              color="danger"
              (click)="showDetail(regularList[13]);"
            >
              <ion-icon
                style="font-size: 44px"
                md="heart"
                ios="heart"
              ></ion-icon>
            </ion-fab-button>
            <div class="ion-padding-top" style="position: relative; left: 22px">
              CPR
            </div>
          </ion-col>
          <ion-col
            ><ion-fab-button
              color="light"
              (click)="showDetail(regularList[5]);"
            >
              <ion-icon
                src="https://raw.githubusercontent.com/ronaktal/checkitup/19b9ac00c225936e819746b9df1f0ecc78c7839a/719506_dizzy_fever_flu_headache_nausea_icon.svg"
                style="font-size: 44px"
              ></ion-icon>
            </ion-fab-button>
            <div class="ion-padding-top" style="position: relative; left: 18px">
              Stroke
            </div>
          </ion-col>
          <ion-col
            ><ion-fab-button
              color="light"
              (click)="showDetail(regularList[23]);"
            >
              <ion-icon
                src="https://raw.githubusercontent.com/ronaktal/checkitup/865ebbe5aaa31140352f593c64226b916fab9ca6/311931_cardiac_cardio_heart_pulce_icon.svg"
                style="font-size: 44px"
              ></ion-icon>
            </ion-fab-button>
            <div class="ion-padding-top" style="position: relative; left: 2px">
              Chest Pain
            </div>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
