<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pick a Topic</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-searchbar
      [(ngModel)]="filterTerm"
      (ionInput)="filter($any($event.target).value)"
      (ionCancel)="cancel()"
    ></ion-searchbar>

    <ion-list>
      <ion-list-header> Search Topic </ion-list-header>
      <ion-item
        *ngFor="let regular of filterData;let i = index"
        button="true"
        (click)="showDetail(regular)"
      >
        <ion-label>{{regular.name}}</ion-label>
      </ion-item>
    </ion-list>
    <br />
    <br />
    <br />
    <br />
    <div class="fab-class">
      <ion-grid>
        <ion-row>
          <ion-col
            >
          </ion-col>
          <ion-col
            ><ion-fab-button class="text-padding-bottom" color="danger">
            <ion-icon
              md="heart"
              ios="heart"
            ></ion-icon>
          </ion-fab-button>
          <div class="ion-padding-top">&nbsp;&nbsp;CPR</div>
          </ion-col>
          <ion-col
            ><ion-fab-button color="light">
              <ion-icon src="https://raw.githubusercontent.com/ronaktal/checkitup/19b9ac00c225936e819746b9df1f0ecc78c7839a/719506_dizzy_fever_flu_headache_nausea_icon.svg"
              style="font-size:44px"></ion-icon>
            </ion-fab-button>
            <div class="ion-padding-top">&nbsp;Stroke</div>
          </ion-col>
          <ion-col
            ><ion-fab-button color="light">
              <ion-icon
                md="caret-back"
                ios="chevron-back-circle-outline"
              ></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
