
<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Video Chat
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-note color="secondary">Chat with friends anywhere. Enter the phone number and click the button below and we will text them a link to video chat with you.</ion-note>
  <ion-note color="primary">This will open a new browser window.</ion-note>
  <ion-button expand="block">Video Call<ion-icon slot="end" name="videocam-outline"></ion-icon></ion-button>

</ion-content>
