<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Back to list"
        icon="list-outline"
        defaultHref="/"
      ></ion-back-button> </ion-buttons
    ><ion-buttons slot="end"
      ><ion-button (click)="show_tips()"
        ><ion-icon name="leaf-outline"></ion-icon>&nbsp;Healing &
        Tips</ion-button
      ></ion-buttons
    >
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngIf="this.question_phrase.length>0">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center"
        >Please answer Yes or No using the options on the menu
        below.</ion-card-subtitle
      ><br />
      <ion-card-title class="ion-text-center"
        >{{question_phrase}}</ion-card-title
      >
    </ion-card-header> </ion-card
  ><ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center" *ngIf="this.tipsid===null"
        >Information provided in this application is taken directly from the
        source and does not replace a medical consultation.</ion-card-subtitle
      ><ion-card-subtitle class="ion-text-center" *ngIf="this.tipsid!==null"
        >Tip provided is for informative purposes only and does not replace a
        medical consultation. Always consult a medical professional when
        possible.</ion-card-subtitle
      ><br />
      <ion-card-title
        class="ion-text-center"
        [innerHTML]="phrase"
      ></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-toolbar *ngIf="this.tipsid===undefined">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="back" (click)="back()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="yes" (click)="traverse(1,obj)">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Yes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="no" (click)="traverse(2,obj)">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="source" (click)="source()">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Source</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
