<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back to list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center"
        >Please answer Yes or No using the options below</ion-card-subtitle
      ><br />
      <ion-card-title class="ion-text-center">{{phrase}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-back-button tab="back">
        <ion-icon name="arrow-undo-outline"></ion-icon>
        <ion-label>Topics</ion-label>
      </ion-back-button>

      <ion-tab-button tab="yes" (click)="traverse(1,obj)">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Yes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="no" (click)="traverse(2,obj)">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="source" (click)="source()">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Source</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
